/ProgramaDeRadio/nbproject/private/
/ProgramaDeRadio/build/
/ProgramaDeRadio/dist/
/Geometry/nbproject/private/
/ProgramaCalculadora/nbproject/private/
/pruebaVector/nbproject/private/
/ProgramaCalculadora/build/
/ProgramaCalculadora/dist/